.head {
  padding-top: 100px;
  padding-bottom: 100px;
  @media screen and (max-width: $breakpoint-lg) {
    padding-top: 30px;
  }
  @media screen and (max-width: $breakpoint-md) {
    padding-bottom: 60px;
  }

  &__title {
    font-style: normal;
    font-weight: $fw-bold;
    font-size: $fs-48;
    line-height: $lh-73;
    color: $color-black;

    @media screen and (max-width: $breakpoint-lg) {
      font-size: $fs-39;
    }
    @media screen and (max-width: $breakpoint-sm) {
      font-size: $fs-31;
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: $fs-16;
    line-height: $lh-24;
    color: $color-gray;
    @media screen and (max-width: $breakpoint-md) {
      font-size: $fs-12;
    }
  }

  &__button {
    @media screen and (max-width: $breakpoint-lg) {
      margin: auto;
    }
  }
}
